*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(59, 59, 197);
}

.main1{
    width: 20em;
    height: 20em;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.main .main1 .para input{
    border: 3px solid black;
    border-radius: 8px;
}
.main1 h2{
    color: white;
    background-color: blue;
    text-align: center;
    padding: 20px;
    border-radius: 10px;

}
.main1 .para{
    padding-top: 20px;
}

.main1 .para button{
    width: 14em;
    padding: 5px;
    color: white;
    background-color: blue;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

#email{
   padding: 5px;
   background-image: url("assets/email.png");
   background-repeat: no-repeat;
   background-size: 18px;
   background-position: left;
   padding-left: 25px;
   cursor: pointer;
}
#password{
    padding: 5px;
    background-image: url("assets/images-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: left;
    padding-left: 25px;
    cursor: pointer;
  
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}